<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="http://icons.veryicon.com/ico/System/Multipurpose%20Alphabet/Letter%20L%20lg.ico" />
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/sign-in">
        Sign In
      </a>

      <a class="navbar-item" href="/sign-up">
        Sign Up
      </a>

      <a class="navbar-item">
        Third link
      </a>
    </div>
    <div class="navbar-end">
      <div class="field">
        <form class="control" method="GET" action="/book/search?searchTerm">
          <input class="input" type="text" placeholder="search" name="searchTerm" />
        </form>
      </div>

    </div>

  </div>
</nav>
