<div class="box">
  <article="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Dr_Who_%28316350537%29.jpg/170px-Dr_Who_%28316350537%29.jpg"/>
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <%= review.attributes.content %>
      </div>
    </div>
  </article>
</div>
