<%- include partials/header %>
<%- include partials/nav %>

<div class="field column is-one-third is-offset-4">
  <div class="control">
    <input class="input" type="text" placeholder="Email" name="email">
  </div>

  <div class="control">
    <input class="input" type="text" placeholder="Username" name="username">
  </div>

  <div class="control">
    <input class="input" type="text" placeholder="password" name="password">
  </div>
  <div class="control">
    <button class="button is-outlined is-primary">Sign In</button>
  </div>
</div>


<%- include partials/footer %>
